@import url('@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

header{
    background-color: lightgreen;
    height: 50px;
    font-style:inherit;
}
nav {
    /* border: 5px dotted black */
    /* width: 50%; */
    height: inherit;
    display: flex;
    /* justify-content: :start; */
    align-items: center;
}
nav > a {
    text-decoration: none;
    color: darkblue;
    font-size: 20px;
    padding: 0 30px;

}
.about_us {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
}
.about_us img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.about_us_description {
    display: flex;
    flex-direction: column;

}

.about_us_description * {
    padding: 5px;
}

.my_game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;

}

.my_game > * {
    text-align: center;
}

.my_game input, .my_game button {
    border: none;
    /* background-color: aquamarine; */
    margin:  5px;
    min-height: 30px;
}

.my_game button {
    width: max-content;
    background-color: aquamarine;
    padding: 0 10px;
    border-radius: 5px;
}


.my_game input {
    background-color: lightgray;
    outline: none;
    border-radius: 10px;
}

/* img{
    width: 400px;
    margin: 10px 150px;

    }
    span{
        font-size: 15px;
    }
    .name {
        color: blueviolet;
    }
    #skill {
        color: darkgreen;
    }
    h1{
        padding: 0;
        margin: 30px;
        text-align: center;
    }
    h2{
        text-align: center;
    } */

.choosed_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choosed_block_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 650px;

}

.choosed_block_container > div {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavender;

}

.choosed_element {
    border: 3px solid blue;
}